/*reset*/
*{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration:none;}
img{vertical-align:top;}
html,body{font-family:"HY dnkM";font-size:100%;width: 100%;height: 100%;}
fieldset{border:0}

/*header*/
#header{height: 80px;background:url("../img/h_bg.png")no-repeat;position: relative;background-size:100% 80px;}
#header h1{text-align:center;padding: 3px;z-index: 999;}
#header h1 a img{width: 78px;height: 78px;z-index:999}

#header nav{position: absolute;right:10px;top:16px;}
#header nav a img{width: 50px;height: 50px;}

#header nav .gnb_list{display:none; position:absolute; right:-50px; top:-18px; z-index:100; width:290px; height:800px;}
#header nav .gnb_list li{width:290px;height: 65px;background:#323232;border-bottom:1px dotted #838383;}

#header nav .gnb_list .logotex a{height: 80px;background:#181818;font-size:32px;color:#91816b;
line-height:80px;font-family: "Brush Script Std";padding-left:10px;opacity: 1;font-weight: bold;}

#header nav .gnb_list li:first-child{;height: 80px;background:#181818;font-size:32px;color:#91816b;line-height:80px;}
#header nav .gnb_list li:last-child{width:290px;height: 100px;color:#fff;font-size:14px;padding-top: 60px;padding-left:70px;}
#header nav .gnb_list li:nth-child(8){border:none}

#header nav .gnb_list li span{font-size:24px;}
#header nav .gnb_list li a{display:block; padding-right:0px; font-size:15px; line-height:65px;color:#fff;
text-align: left;margin-left: 20px;font-size:18px;font-family: "Arial Rounded MV bold"}

#header nav .gnb_list .close a{position: absolute;	left:-10px;bottom:70px}
#header nav .gnb_list .close a img{width: 20px;height: 20px;}


/*container*/
#container .cont1{width:85%;margin: 0 auto;margin-top: 25px}
#container .cont1 h1{text-align: center;margin-top:10px;margin-bottom: 10px;color:#000;font-family: "Arial Rounded MV bold";}

#container .cont1 .store{width: 100%;height: 50px;position: relative;margin: 0 auto;margin-bottom: 15px;}
#container .cont1 .store .sel1{position: absolute;top:20px;left:0;width: 100px;height:30px;padding:0 3px 4px 3px;font-size:16px;border-radius:3px;}
#container .cont1 .store .sel2{position: absolute;top:20px;right:0;width: 200px;height: 30px;padding:0 3px 4px 3px;font-size:16px;border-radius:3px}
#container .cont1 .store .sel1 option{font-size:16px}
#container .cont1 .store .sel2 option{font-size:16px}

#container #map{width:85%;height: 350px;margin:0 auto;}

#container .cont2{width: 85%;height:50px;margin: 0 auto;text-align: center;margin-top:30px;border-bottom:1px dotted #424242}
#container .cont2 h1{font-size:23px;font-weight:normal;font-family:"Arial Rounded MV bold";padding-top: 10px;}

#container .cont3{width: 100%;height:345px;margin-top: 30px;background:url("../img/bg2.png")no-repeat;background-size:100% 100%;text-align: center;}
#container .cont3 .back{height: 360px;background-color: rgba( 255, 255, 255, 0.5 )}
#container .cont3 ul{width: 100%;color:#000}
#container .cont3 ul li{width: 300px;margin: 0 auto;font-size:16px;padding: 10px;z-index:9999;text-align: left;}
#container .cont3 ul li:nth-child(3){padding-bottom:0px;}
#container .cont3 ul li:nth-child(4){padding-top:0px;}
#container .cont3 ul li span{font-weight:bold;padding-right: 10px;}
#container .cont3 ul li em{font-style: normal;padding-left: 78px;}
#container .cont3 input{width: 150px;padding: 6px;font-size:16px;background:#fff;border-radius:7px;font-weight:bold;margin-top:40px;border:0}


/*footer*/
#footer{height: 320px;position: relative;background:#dbcdbf}
#footer .flogo {text-align: center}
#footer .flogo img{width: 60px;height: 60px;padding: 10px 0 5px 0;}	
#footer .info{text-align: center}
#footer .info li{display: inline-block;font-size:0.813em}
#footer .info li:after{content:'|';display: inline-block;margin-left: 5px;}
#footer .info li:last-child:after{content:' ';display: inline-block}

#footer address{font-style:normal;font-size:11px;margin: 10px;text-align: center;}

#footer .family {text-align: center;}
#footer .family select{width: 160px;text-align: center;margin-top: 10px;font-size:12px;padding: 5px;border-radius:5px;font-family: "돋움";}

#footer .link {width: 100%;text-align: center;margin-top: 10px;height: 110px;}
#footer .link a{width:23%;display: inline-block;padding: 15px 10px 5px 10px }
#footer .link a img{width: 100%;border:1px solid #ddd;border-radius:5px}


















