/* common_css */
.clear-fix {
    display: block;
    clear: both;
    content: " ";
    display: inline-table;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scrollable {
    overflow-y: auto;
}

.cursor {
    cursor: pointer !important;
}
/* button */
.btn {
    display: inline-block;
    /* padding:  ;*/
    border: 1px solid #fff;
    font-size: 14px;
    color:#fff;
    text-align: center;
}