/*reset*/
*{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration:none;}
img{vertical-align:top;}
html,body{font-family:"HY dnkM";font-size:100%;width: 100%;height: 100%;}
fieldset{border:0}

/*header*/
#header{height: 80px;background:#ffd421;position: relative}
#header h1{text-align:center;padding: 3px;}
#header h1 a img{width: 78px;height: 78px;}

#header .top_search{position: absolute;left:15px;top:16px}
#header .top_search a img{width: 50px;height: 50px}

#header .searchbar{display: none;width: 100%;height: 55px;background:#ffd421;margin-top:-5px;position:relative;opacity: 0.9;}
#header .searchbar input.search{width:85%;height:38px;border:0;border-radius:10px;position:absolute;left:20px;top:8px}
#header .searchbar input.sbtn{width: 40px;height:40px;text-indent: -999px;border:0;background:url(../img/search.png)no-repeat;position:absolute;right:5px;top:8px}

#header nav{position: absolute;right:10px;top:16px;}
#header nav a img{width: 50px;height: 50px}

#header nav .gnb_list{display:none; position:absolute; right:-50px; top:-18px; z-index:100; width:290px; height:800px;}
#header nav .gnb_list li{width:290px;height: 65px;background:#323232;border-bottom:1px dotted #838383;opacity: 0.9}

#header nav .gnb_list li:first-child{width:290px;height: 80px;background:#181818;font-size:32px;color:#91816b;line-height:80px;font-family: "Brush Script Std";padding-left: 30px;opacity: 1;font-weight: bold;}
#header nav .gnb_list li:last-child{width:290px;height: 100px;color:#fff;font-size:14px;padding-top: 60px;padding-left:70px;}
#header nav .gnb_list li:nth-child(8){border:none}

#header nav .gnb_list li span{font-size:24px}
#header nav .gnb_list li a{display:block; padding-right:0px; font-size:15px; line-height:65px;color:#fff;text-align: left;margin-left: 20px;font-size:18px;font-family: "Arial Rounded MV bold"}

#header nav .gnb_list .close a{position: absolute;	left:-10px;bottom:70px}
#header nav .gnb_list .close a img{width: 20px;height: 20px;}


/*visual*/
#visual{height: 260px}
#visual .slider{width: 100%;overflow: hidden;display:block}
#visual .slider img{width: 100%;height: 260px;}

/*container*/
#container .cont1{width: 100%;margin-top:40px;}
#container .cont1 h2{margin: 0 auto;text-align: center;font-family:"MV Boli";font-size:24px;width: 30%;border-bottom:1px dashed #424242;
color:#000;margin-bottom: 20px;}
#container .cont1 ul li{float:left;width: 43%;margin-top: 25px;text-align:center;border:1px solid #ddd;margin:10px 2px 5px 5px;margin-left: 20px;border-radius:4px}
#container .cont1 ul a{display:block}
#container .cont1 ul li a img{width: 91%;}
#container .cont1 ul li span{font-size:15px;font-weight:bold;font-style:normal;color:#3c3c3c;font-family: "Arial Rounded MV bold";}

#container .more a{float:right;top:5px;margin-right: 15px;font-size:15px;font-weight:bold;color:#000}
#container .cont2{clear:both;width: 100%;}
#container .cont2 h2{width: 140px;border-bottom:1px dashed #424242;font-family:"MV Boli";font-size:24px;text-align:center;padding-top:40px;margin: 0 auto;color:#000}
#container .cont2 #photo{display:block;width: 100%;overflow: hidden;margin-top: 20px;}
#container .cont2 #photo li a img{margin: 0 auto;width:90%;height:500px;padding:20px 0;margin-bottom: 20px;}

#container .cont3 {width: 100%;margin-bottom: 40px;}
#container .cont3 h2{margin: 0 auto;width: 30%;text-align: center;
font-family:"MV Boli";font-size:24px;border-bottom:1px dashed #424242;padding-top: 15px}
#container .cont3 ul{text-align:center;margin-top: 20px;}
#container .cont3 ul li{display: inline-block;overflow: hidden;width: 17%;padding:10px 10px}
#container .cont3 ul li img{width: 100%;margin-bottom: 10px;}
#container .cont3 ul li em{font-style:normal;font-size:15px;font-weight:bold;color:#4c4c4c}

#container .cont4 {width: 100%;background:#4d3c2b;margin-top: 20px}	
#container .cont4 .job{height: 40px;line-height:35px}
#container .cont4 .job p a{padding-left:20px;color:#fff;font-size:14px;}
#container .cont4 .job span{font-weight:bold;margin-right:20px}
#container .cont4 .job span:after{content:'|';display:inline-block;margin-left:20px;font-size:18px;font-weight:normal;}



/*footer*/
#footer{background:#dbcdbf;height: 320px;position: relative;}
#footer .flogo {text-align: center;}
#footer .flogo img{width: 60px;height: 60px;padding: 10px 0 5px 0;}	
#footer .info{text-align: center;}
#footer .info li{display: inline-block;font-size:0.813em}
#footer .info li a{color:#000}
#footer .info li:after{content:'|';display: inline-block;margin-left: 5px;}
#footer .info li:last-child:after{content:' ';display: inline-block}

#footer address{font-style:normal;font-size:11px;margin: 10px;text-align: center;}

#footer .family {text-align: center;}
#footer .family select{width: 160px;text-align: center;margin-top: 10px;font-size:12px;padding: 5px;border-radius:5px;font-family: "돋움";}

#footer .link {width: 100%;text-align: center;margin-top: 10px;height: 110px;}
#footer .link a{width:23%;display: inline-block;padding: 15px 10px 5px 10px }
#footer .link a img{width: 100%;border-radius:5px}


















