/* style_css */
/* wrap */
#wrap{
    width: 100%;
}
/* header */
.header{
    position: fixed;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 99;
    background-color: transparent;
    box-sizing: border-box;
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}
.header .inner-wrap .logo{
    margin-left: 13px;
}
.header .inner-wrap .gnb{
    width: 600px;
    margin-left: 64px;
}
.header .inner-wrap .gnb .gnb-list{
    display: flex;
}
.header .inner-wrap .gnb .gnb-list .gnb-item{
    width: 120px;
    height: 37px;
    line-height: 39px;
    margin: 0 15px;
    text-align: center;
}
.header .inner-wrap .gnb .gnb-list .gnb-item:first-child{
    margin-left: 0;
}
.header .inner-wrap .gnb .gnb-list .gnb-item:last-child{
    margin-right: 0;
}
.header .inner-wrap .gnb .gnb-list .gnb-item a{
    display: block;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
}
.header .inner-wrap .riderpage{
    margin-right: 20px;
}
.header .inner-wrap .riderpage .rider-btn{
    font-size: 0.9rem;
    font-weight: 400;
    color:#05cd82;
}
/* main */
.main{
    position: relative;
    min-height: 900px;
    height: 100vh;
}
.main .bg-wrap img{
    position: absolute;
    right: 41%;
    top: 0;
    width: auto;
    height: 100%;
    z-index: -1;
}
.main .cont-wrap{
    width: 1600px;
    margin: 0 auto;
}
.main .main-tit{
    position: absolute;
    top: 51%;
    right: 26%;
    line-height: 70px;
    text-align: right;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: -0.05rem;
    transform: translateY(-50%);
}
.main .main-tit .owner{
    font-weight: 500;
}
.main .main-tit .delivery{
    font-weight: 500;
}
.main .info-wrap{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 150px;
    padding: 30px 15px;
    background:#fff;
}
.main .info-wrap .info> div{
    margin-top: 5px;
}
.main .info-wrap .info::before{
    content: " ";
    position: absolute;
    left: -60px;
    top: 0;
    border-top: 210px solid #fff;
    border-left: 60px solid transparent;    
}
.main .info-wrap .top{
    display: flex;
    align-items: end;
}
.main .info-wrap .top .title{
    font-size: 1.3rem;
    font-weight: 100;
    margin-right: 15px;
}
.main .info-wrap .top .tab-list{
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    height: 30px;
    margin-right: 20px;
    border-radius: 20px;
    background: #eee;
}
.main .info-wrap .top .tab-list .tab-item{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 33px;
    cursor: pointer;
}
.main .info-wrap .top .tab-list .tab-item.on{
    border-radius: 20px;
    background: #05cd82;
    color: #fff;
}
.main .info-wrap .top .desc{
    color: #777;
}
.main .info-wrap .tab-box .item-list{
    width: 100%;
    display:flex;
}
/* .main .info-wrap .tab-box .item-list> div{
    float: left;
} */
.main .info-wrap .tab-box .item-list .left-item,
.main .info-wrap .tab-box .item-list .right-item{
    display: flex;
}
.main .info-wrap .tab-box .item-list .left-item{
    width: 30%;
    margin-right: 40px;
}
.main .info-wrap .tab-box .item-list .left-item input{
    width: 100%;
    border: none;
    padding: 5px;
}
.main .info-wrap .tab-box .item-list .left-item input::placeholder{
    color: grey;
}
.main .info-wrap .info-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 210px;   
    background: #05cd82;
}
.main .info-wrap .info-btn::before{
    content: " ";
    position: absolute;
    top: 0;
    left: -60px;
    border-top: 210px solid #05cd82;
    border-left: 60px solid transparent;
}
.main .info-wrap .info-btn::after{
    content: " ";
    position: absolute;
    top: 0;
    right: -60px;
    border-bottom: 210px solid #05cd82;
    border-right: 60px solid transparent;
}
.main .info-wrap .info-btn a{
    position: absolute;
    bottom: 25%;
    left: 10%;
    width: 120%;
    color: #fff;
    z-index: 1;
}

.line{
    width:auto;
    border-bottom: 1px solid #05cd82;
}
.option-list{
    display: none;
}
