@charset "utf-8";


/*reset*/
body{font-family:'Malgun Gothic';color:#022e4c;margin: 0 auto;}
li{list-style:none}
img{border:0;vertical-align:top}
a{color:#000;text-decoration: none}
fieldset {border:0}
legend {text-indent:-9999em;display: none}


/*nav*/
#nav-wrap{
	width: 100%;
	height: 40px;
	background:#0063a8;
	margin: 0 auto;
}
.nav{
	width: 1200px;
	height: 40px;
	position: relative;
	margin: 0 auto;
}
.nav ul{
	float: left;
	position: absolute;
	right: 50px;
	top:-8px
}
.nav ul li{
	float: left;
	padding-left: 20px;
	text-align: center;
}
 .nav ul li a{
	color:#fff;
	font-size:14px;
	font-weight: bold;
 }
 .nav input{
	position: absolute;
	right:10px;
	top:10px;
	width: 20px;
	height: 20px;
 }


/*searchwrap*/
#searchwrap{
	display: none;
	width: 100%;
	height: 50px;
	background:#0063a8;
	margin: 0 auto;
}
#searchwrap form{
	width: 1200px;
	margin: 0 auto;
	position: relative;
} 
#searchwrap input.searchbar{
	width: 1180px;
	height: 30px;
	position: absolute;
	top:7px;
	border-radius:5px;
	border:0;
}
#searchwrap input.Sbtn{
	width: 23px;
	height: 23px;
	position: absolute;
	right: 15px;
	top:10px
}

/*header*/
#headerwrap{
    z-index:100;
	width:100%;
	height: 880px;
	margin: 0 auto;
	background:url(../img/main1.jpg)no-repeat;
	background-size:100% 880px;
	position: relative;
}
#headerwrap h2{
	position: absolute;
	left: 280px;
	top:430px;
	color:#fff;
	font-size:38px;
	font-weight: normal;
}
#headerwrap p{
	position: absolute;
	left: 400px;
	top:500px;
	color:#022e4c;
	font-size:23px;
	font-weight: normal;
}
.header{
    position:absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 95px;
	background:#fff;
	z-index: 200;
	opacity:0.4
}
.header .maingnb h1{
	width: 130px;
	margin: 0;
	padding-top: 20px;
	float: left;
	padding-right: 0px;
}
.header .maingnb h1 img{
	width: 130px;
	height: 65px;
}
.header .maingnb{
    z-index:300;
	width: 1220px;
	margin: 0 auto;
	height: 90px;
	padding-bottom: 15px;
}
.header .maingnb ul{
	float: left;
	text-align: center;
	margin-top:40px;
	z-index:400;
}
.header .maingnb .gnb li{
	float: left;
	width: 175px;
}
.header .maingnb .gnb li a{
	color:#003399;
	font-size:20px;
	font-weight: bold;	
	background-color: rgba( 255, 255, 255, 0.5 );
}
.header .maingnb .gnb li a:hover{
	color:#000
}

/*gnbsub*/
.header .maingnb .gnb li .sub{
	display: none;
	margin-top: 25px;
	width: 100%;
	height:650px;
	padding: 0;
	border-left:1px solid #373737;
}

.header .maingnb .gnb li .sub li{
	width: 175px;
	height: 30px;
	text-align: center;
	padding-top: 15px;
}
.header .maingnb .gnb li .sub li a{
	font-weight: bold;
	font-size:15px;
	color:#000
}
.header .maingnb .gnb li .sub li:hover{
	background:#ddd
}
.header .maingnb .gnb li .sub li a:hover{
	background:#ddd
}

.top{
	display: none;
	position: fixed;
	right: 2%;
	bottom: 5%;
	z-index:9999;

}

/*container cont1*/
#container{
	width: 100%;
	margin: 0 auto;
}
#container .cont1{
	width: 1200px;
	margin:0 auto;
	position: relative;
	height: 400px;
}
#container .tab-wrap{
	width: 700px;
	height: 300px;
}
#container .tab-box{
	width: 700px;
	position: absolute;
	left:0;
	top:50px;
	overflow: hidden;
}
#container .tab-box ul{
	height: 50px;
}

#container .tab-box ul li{
	float: left;
	width: 170px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	cursor: pointer;
}

#container .tab-box ul li.current{
	background:#bbd5dd;
	transition: 0.3s
}
#container .tab-box ul li a{
	color:#022e4c;
	font-size:20px;
	font-weight: bold;
}
#container .tabPage{
	display: none;
	width: 660px;
	position: absolute;
	left: 40px;
	top:115px;
	height:300px;
	background:#eee
}
#container .tab-content ul{
	padding-top: 5px;
	position: relative;
}
#container .tab-content ul li{
	list-style: disc;
	margin:20px;
	padding-left:5px;
}
#container .tab-content a img{
	position: absolute;
	top:-35px;
	right:20px;
	width:27px;
	height: 27px;
}
#container .tab-content a:hover{
	color:#003366;
	text-decoration: underline;
	font-weight: bold;
}
#container .tab-content .tabPage.current{
	display: block;
}

#container .mapBox{
	width: 500px;
	height: 390px;
	position: absolute;
	right: 0;
	top:45px;
	background:url(../img/map.png)no-repeat;
	background-size:170px 270px	;
	background-position:70% 80%;
}
#container .mapBox h3{
	margin-left: 60px;
	font-size:26px;
	color:#022e4c;
	font-weight: bold;
}
#container .mapBox table{
	margin-left: 60px;
}
#container .mapBox table td{
	padding-right: 15px;
	padding-top: 15px;
}
#container .mapBox table td a:hover{
	font-weight:bold;
	color:#003366;
}


/*cont2*/
.cont2{
	width: 100%;
	height: 500px;
	margin-top: 80px;
	position: relative;
	background:url(../img/background1.jpg)no-repeat;
	background-size:100% 500px;
}
.cont2 .icon{
	z-index: 9999;
	width:100%;
	height: 500px;
	margin: 0 auto;
	background-color: rgba( 255, 255, 255, 0.5 );
}
.cont2 .icon h2{
	text-align: center;
	padding-top: 60px;
	font-size:34px;
} 
.cont2 .icon .txt{
	text-align: center;
	font-size:16px;
	padding-top: 0;
}
.cont2 .icon ul{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}
.cont2 .icon ul li{
	float: left;
	width: 230px;	
	text-align: center;
	z-index: 9999;
	margin-top: 60px;
}
.cont2 .icon ul li p{
	font-weight:bold;
	font-size:18px;
}


/*cont3*/
.cont3{
	width: 100%;
	height: 800px;
	background:url(../img/background2.jpg)no-repeat;
	background-size:100% 1000px;
	margin-top:-20px;
	position:relative
}
.cont3 h3{
	color:#fff;
	margin-top:0;
	font-size:22px;
	text-align: left;	
 }
.cont3 .wrapbox{
	width: 100%;
	height: 850px;
	margin: 0 auto;
	background-color: rgba( 255, 255, 255, 0.5);
}
.cont3 .box1{
	width:1200px;
	height: 315px;
	margin: 0 auto;
	padding-top: 100px;
	z-index:999;
 }
.cont3 .box1 .more{
	width: 25px;
	height: 25px;
	position: absolute;
	top:25px;
	right: 15px;
}
.cont3 .box1 div{
 	padding: 20px;
	box-sizing:border-box;
	border-radius:8px;
	width: 280px;
	height:290px;
	float: left;
	margin-right: 25px;
	text-align: center;
 }
.cont3 .box1 div a img{
	width:190px;
	height: 120px;
	margin-bottom: 10px;
 }
 .cont3 .box1 div a img:hover{
	background:#000;
	opacity: 0.8;
 }
.cont3 .box1 div p a{
	color:#fff;
	font-size: 15px;
	font-weight: bold;
 }
.cont3 .box1 div p a:hover{
	color:#ddd;
	text-decoration:underline;
 }
.cont3 .box1 .innerbox1{
	background:#3d6ab9;
	position: relative;
 }
.cont3 .box1 .innerbox2{
	background:#7aa9d8;
	position: relative;
 }
.cont3 .box1 .innerbox3{
	background:#566e9a;
	position: relative;
	text-align: left;	
 }
.cont3 .box1 .innerbox3 ul{
	padding-left:0;
	padding-top: 15px;
  }
.cont3 .box1 .innerbox3 ul li{
	font-weight:bold;
	background:url(../img/list.png)no-repeat;
	background-position:0% 80%;
	padding-left: 15px;
	padding-top: 15px;
  }
.cont3 .box1 .innerbox3 ul li a{
	color:#fff;
  }
.cont3 .box1 .innerbox3 ul li a:hover{
	color:#ddd;
	text-decoration: underline;
}
.cont3 .box1 .innerbox4{
	background:#4f8fb0;
	position: relative;
	margin-right: 0;
	text-align: left;
 }
.cont3 .box1 .innerbox4 ul{
	padding-left:0;
	padding-top: 15px;
  }
.cont3 .box1 .innerbox4 ul li{
	font-weight:bold;
	background:url(../img/list.png)no-repeat;
	background-position:0% 80%;
	padding-left: 15px;
	padding-top: 15px;
  }
.cont3 .box1 .innerbox4 ul li a{
	color:#fff;
  }
.cont3 .box1 .innerbox4 ul li a:hover{
	color:#ddd;
	text-decoration: underline;
}
.cont3 .box2{
	width: 1200px;
	height: 350px;
	margin: 0 auto;
}
.cont3 .box2 .innerbox5{
	width: 585px;
	height: 300px;
	border-radius:8px;
	float: left;
	box-sizing:border-box;
	padding: 20px;
	position: relative;
	background:#8dc0ce url(../img/notice.png)no-repeat;
	background-position:90% 75%
}
.cont3 .box2 .innerbox5 h3{
	color:#022e4c;
	font-weight: bold;
	font-size:24px
}
.cont3 .box2 .innerbox5 ul{
	padding-left: 25px;
	padding-top: 0;
	float: left;
}
.cont3 .box2 .innerbox5 ul li{
	font-weight:bold;
	background:url(../img/list2.png)no-repeat;
	background-position:0% 70%;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.cont3 .box2 .innerbox5 ul li a{
	color:#022e4c;
	font-size:16px;
}
.cont3 .box2 .innerbox5 input{
	position: absolute;
	top:25px;
	right: 80px;
	width: 250px;
	height: 35px;
	border:0;
}
.cont3 .box2 .innerbox5 button{
	position: absolute;
	top:25px;
	right: 15px;
	width:60px;
	height: 35px;
	border:0;
	background:#4f8fb0;
	color:#fff;
	font-weight: bold;
	font-size:16px
}
.cont3 .box2 .slidebox{
	width: 585px;
	height: 300px;
	float: left;
	margin-left: 25px;
}
.cont3 .box2 .slidebox .bx-viewport{
	padding: 0;
}
.cont3 .box2 .slidebox ul{
	padding: 0;
	margin: 0;
	overflow:hidden;
}
.cont3 .box2 .slidebox ul li{
	width:585px;
	height: 300px;
	display: inline-block;
	overflow: hidden;
}
.cont3 .box2 .slidebox ul li a img{
	width: 585px;
	height: 300px;
	border-radius:8px
}


/*cont4*/
.cont4{
	width: 1200px;
	height:90px;
	margin: 0 auto;
	margin-top: -18px;
}
.cont4 ul{
	width: 1200px;
	float: left;
}
.cont4 ul li{
	float: left;
	overflow:hidden;
	padding: 18px 20px 35px 35px;
	width: 180px;
}

/*footer*/
#footer{
	width: 100%;
	height: 150px;
	margin: 0 auto;
	margin-top: 40px;
	background:#0063a8 
}
#footer .footer_one{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	background:#05426d
}
#footer .footer_one ul{
	width: 1200px;
	margin: 0 auto;	
}
#footer .footer_one ul li{
	float: left;
	height: 60px;
	padding-right: 30px;
	line-height: 60px;
}
#footer .footer_one ul li a{
	color:#fff;
	font-size:15px
}

#footer .footer_one select{
	width: 170px;
	margin-left: 7px;
	margin-top: 15px;
	height: 28px;
}
#footer .footer_one input{
	background:#ddd;
	height: 28px;
	width: 50px;
	border:0;
	font-weight: bold;
}
#footer .footer_two{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
#footer .footer_two h2 img{
	position: absolute;
	left: 5px;
	top:0;
	width: 250px;
	height: 50px;
}
#footer .footer_two p{
	position: absolute;
	left: 300px;
	top: -10px;
	color:#fff;
	font-size:15px;
}
#footer .footer_two em{
	position: absolute;
	right: 380px;
	top:30px;
	color:#fff;
	font-style:normal;
	font-size:15px;
}
#footer .footer_two address{
	position: absolute;
	right: 210px;
	top: 5px;
	color:#fff;
	font-style:normal;
	font-size:15px
}

#footer .footer_two img{
	position: absolute;
	right:35px;
	top:0px;
	width: 100px;
	height: 50px;
}