/* common icon */
.ico-float{display: inline-block;background: url(../img/ico_floating.png)no-repeat;}
.ico-float.search{width: 38px;height: 38px;background-position: 5px -30px;}

.ico-main-bg{display: inline-block;background: url(../img/main_bg_set.png)no-repeat;}
.ico-main-bg.search{width: 26px;height: 26px;background-position: -220px -830px;}
.ico-main-bg.sbc{width: 80px;height: 80px;background-position: -112px 0;}
.ico-main-bg.step{width: 80px;height: 80px;background-position: -216px -0;}
.ico-main-bg.company{width: 80px;height: 80px;background-position: -310px 0;}


/* radio */
.custom-radio::before{
    display: inline-block;
    content: ' ';
    background: url(../img/main_bg_set.png)no-repeat;
}
